<!DOCTYPE html>
<html>
<head>
  <title> We Suggest </title>
</head>
<body>
  <img src="{{smoothie.picPath}}" style="width:300px;height:200px">
  <h1> {{smoothie.name}} </h1>
  <p>{{smoothie.blurb}}</p>
  <br><br>
  <p> {{smoothie.ingredients}} </p>
  <br><br>
  <p> {{smoothie.nutInfo}}</p>
  <div id="rating"> {{smoothie.rating}} </div>
  <p> {{smoothie.count}} </p>
</body>
</html>
